@font-face {
  font-family: 'Anime Ace Bold';
  src: url(../fonts/anime-ace.bold.ttf);
}

@font-face {
  font-family: 'Anime Ace Italic';
  src: url(../fonts/anime-ace.italic.ttf);
}

@font-face {
  font-family: 'Anime Ace Regular';
  src: url(../fonts/anime-ace.regular.ttf);
}

@font-face {
  font-family: 'Gotham Book';
  src: url(../fonts/GothamBook.ttf);
}