// Alignment
.text-center { text-align: center; }

// Margin
.mt-1 { margin-top: 1rem; }

// Padding
.p-0 { padding: 0; }

// Others
.wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: .75rem;
}