* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: $black;
  font-family: $gotham-book;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  // color: $blue;
  display: inline-block;
}

ul,
ol {
  padding-left: 1rem;
}

p {
  margin-bottom: 1rem;
  line-height: 1.88;

  &:last-child {
    margin-bottom: 0;
  }
}

img,
video {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $anime-bold;
  font-weight: bold;
  line-height: initial;
}