.container {
  width: 100%;
  max-width: $container;
  padding: 0 $gutter;
  margin: 0 auto;
  z-index: 1;

  &--medium {
    max-width: $container-medium;
  }

  &--short {
    max-width: $container-short;
  }

  &--mini {
    max-width: $container-mini;
    padding: 0;
  }
}

.anime-detail {

  div {
    margin-bottom: 1.5rem;

    .label {
     font-weight: 600; 
    }

    .wrap-desc {
      display: flex;
      flex-wrap: wrap;
      gap: .5rem;
    }

    .desc {
      font-size: 16px;
      padding: 8px 12px;
      border: 2px solid $red;
      border-radius: $radius-biggest;
      margin-right: .5rem;
    }
  }
}