.card {
  background-color: white;
  border-radius: $radius-big;
  border: 1px solid $warm-white;
  @extend %has-shadow;
  flex: 0 0 100%;
  cursor: pointer;
  // align-self: center;
  
  @media screen and (min-width: 400px) {
    flex: 0 0 180px;
  }
  
  @media screen and (min-width: 700px) {
    flex: 0 0 200px;
  }

  @media screen and (min-width: 1024px) {
    flex: 0 0 250px;
  }

  &__image {
    position: relative;
    z-index: 1;
    margin-bottom: 1rem;

    img {
      border-radius: 10px 10px 0 0;
      width: 100%;
      // max-width: 200px;
      max-height: 300px;
    }

    span {
      position: absolute;
      top: 3px;
      left: 3px;
      background: white;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: $anime-bold;
    }
  }

  &__main {
    // z-index: 1;
    padding: 12px 12px 24px;

    &__title {
      font-family: $anime-regular;
      line-height: 28px;
      margin-top: 1.5rem;
      font-size: 14px;
      
      @media screen and (min-width: 700px) {
        font-size: 16px;
      }
    }

    &__status {
      text-align: center;
      padding: 8px 12px;
      border-radius: $radius-biggest;
      color: $orange;
      background: $pink;
      font-family: $anime-regular;
      font-size: 11px;
      
      @media screen and (min-width: 700px) {
        font-size: 12px;
      }

      &.done {
        background: $green;
        color: $dim-white;
      }
      
      &.episodes {
        color: $dark-green;
        background: $warm-green;
        margin-top: 1rem;
      }
    }
  }

  &__btn {
    position: absolute;
    top: 3px;
    right: 3px;
    z-index: 2;
    display: flex;
  }
}

.card-list-collection {
  max-height: 250px;
  overflow-y: scroll;
  padding-right: .5rem;

  li {
    padding: 12px;
    border: 1px solid $warm-white;
    border-radius: $radius-big;
    @extend %has-shadow;
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      cursor: pointer;

      &:hover {
        font-weight: bold;
      }
    }
  }

  &::-webkit-scrollbar {
    width: 3px;
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: $red;
    border-radius: $radius-big;
  }
}