.topbar, .card-list-collection li, .card {
  filter: drop-shadow(0px 5px 16px rgba(107, 107, 107, 0.2));
}

@font-face {
  font-family: "Anime Ace Bold";
  src: url(../fonts/anime-ace.bold.ttf);
}
@font-face {
  font-family: "Anime Ace Italic";
  src: url(../fonts/anime-ace.italic.ttf);
}
@font-face {
  font-family: "Anime Ace Regular";
  src: url(../fonts/anime-ace.regular.ttf);
}
@font-face {
  font-family: "Gotham Book";
  src: url(../fonts/GothamBook.ttf);
}
.text-center {
  text-align: center;
}

.m-0 {
  margin: 0 !important;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.p-0 {
  padding: 0;
}

.wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.75rem;
}

.separation {
  position: relative;
  width: 100%;
  border: solid 1px #960018;
  margin: 2rem 0;
}
.separation__text {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 10px;
  background: white;
  text-align: center;
  transform: translate(-50%, -50%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: #3D3D3D;
  font-family: "Gotham Book", "sans-serif";
  overflow-x: hidden;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul,
ol {
  padding-left: 1rem;
}

p {
  margin-bottom: 1rem;
  line-height: 1.88;
}
p:last-child {
  margin-bottom: 0;
}

img,
video {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Anime Ace Bold", "sans-serif";
  font-weight: bold;
  line-height: initial;
}

.list {
  list-style: none;
}
.list--inline {
  display: inline-flex;
}
.list--collection > li {
  margin-bottom: 1rem;
}

.paginate {
  list-style: none;
  display: inline-flex;
  padding-left: 0;
  background: #B4DEEE;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  justify-content: center;
  margin-top: 3rem;
  align-items: center;
  font-size: 14px;
}
.paginate > li {
  color: #473974;
  font-weight: bold;
}
.paginate > li a {
  cursor: pointer;
}
.paginate > li:not(:last-of-type) {
  margin-right: 1rem;
}
@media screen and (min-width: 700px) {
  .paginate > li.previous {
    margin-right: 2rem;
  }
}
@media screen and (min-width: 700px) {
  .paginate > li.next {
    margin-left: 1rem;
  }
}
.paginate > li.selected {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: white;
  border-radius: 10px;
  border: 1px solid #DDDDDD;
  flex: 0 0 100%;
  cursor: pointer;
}
@media screen and (min-width: 400px) {
  .card {
    flex: 0 0 180px;
  }
}
@media screen and (min-width: 700px) {
  .card {
    flex: 0 0 200px;
  }
}
@media screen and (min-width: 1024px) {
  .card {
    flex: 0 0 250px;
  }
}
.card__image {
  position: relative;
  z-index: 1;
  margin-bottom: 1rem;
}
.card__image img {
  border-radius: 10px 10px 0 0;
  width: 100%;
  max-height: 300px;
}
.card__image span {
  position: absolute;
  top: 3px;
  left: 3px;
  background: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Anime Ace Bold", "sans-serif";
}
.card__main {
  padding: 12px 12px 24px;
}
.card__main__title {
  font-family: "Anime Ace Regular", "sans-serif";
  line-height: 28px;
  margin-top: 1.5rem;
  font-size: 14px;
}
@media screen and (min-width: 700px) {
  .card__main__title {
    font-size: 16px;
  }
}
.card__main__status {
  text-align: center;
  padding: 8px 12px;
  border-radius: 20px;
  color: #ff5023;
  background: #ffe3dc;
  font-family: "Anime Ace Regular", "sans-serif";
  font-size: 11px;
}
@media screen and (min-width: 700px) {
  .card__main__status {
    font-size: 12px;
  }
}
.card__main__status.done {
  background: #228B22;
  color: #FFFFF0;
}
.card__main__status.episodes {
  color: #006400;
  background: #9ACD32;
  margin-top: 1rem;
}
.card__btn {
  position: absolute;
  top: 3px;
  right: 3px;
  z-index: 2;
  display: flex;
}

.card-list-collection {
  max-height: 250px;
  overflow-y: scroll;
  padding-right: 0.5rem;
}
.card-list-collection li {
  padding: 12px;
  border: 1px solid #DDDDDD;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-list-collection li span {
  cursor: pointer;
}
.card-list-collection li span:hover {
  font-weight: bold;
}
.card-list-collection::-webkit-scrollbar {
  width: 3px;
}
.card-list-collection::-webkit-scrollbar-thumb {
  background-color: #960018;
  border-radius: 10px;
}

.overlay-wrap {
  position: fixed;
  z-index: 99;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}
.overlay-wrap.modal {
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
}

.overlay-wrap.modal {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s linear;
  display: flex;
  align-items: center;
}
.overlay-wrap.modal.active {
  opacity: 1;
  visibility: visible;
}
.overlay-wrap.modal.active .popup {
  transform: translate(0);
}

.close-overlay {
  position: fixed;
  z-index: 998;
  width: 100%;
  height: 100%;
}

.overlay-wrap.modal .popup {
  width: 100%;
  max-width: 450px;
  z-index: 999;
  position: relative;
  border-radius: 5px;
  background-color: #fff;
  transform: translate(0, -25%);
  transition: transform 0.3s ease-out;
  margin: auto 1rem;
  padding: 2rem;
}
@media screen and (min-width: 450px) {
  .overlay-wrap.modal .popup {
    margin: 3rem auto;
    padding: 3rem 2rem 2rem;
  }
}

.input {
  width: 100%;
  padding: 12px 16px;
  font-size: 14px;
  background: white;
  border: 1px solid #960018;
  border-radius: 5px;
}
.input:focus {
  outline: none;
  border-width: 2px;
}
.input::-moz-placeholder {
  color: #818181;
}
.input:-ms-input-placeholder {
  color: #818181;
}
.input::placeholder {
  color: #818181;
}

.error-msg {
  font-size: 12px;
  color: #960018;
}

.btn {
  display: inline-block;
  line-height: initial;
  padding: 8px 16px;
  border-radius: 5px;
  border: none;
}
.btn--primary {
  background-color: #960018;
  border: 2px solid #960018;
  color: white;
  font-weight: 600;
  transition: all 0.3s ease;
  font-size: 14px;
}
@media screen and (min-width: 700px) {
  .btn--primary {
    font-size: 16px;
  }
}
.btn--primary:hover {
  color: #960018;
  background-color: white;
}
.btn--primary-outline {
  background-color: transparent;
  border: 2px solid #960018;
  color: #960018;
  font-weight: 600;
  transition: all 0.3s ease;
  font-size: 14px;
}
@media screen and (min-width: 700px) {
  .btn--primary-outline {
    font-size: 16px;
  }
}
.btn--primary-outline:hover {
  color: white;
  background-color: #960018;
}

.add, .remove {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.add {
  background: #228B22;
  color: #FFFFF0;
}

.remove {
  background: #ffe3dc;
  margin-left: 0.5rem;
  position: relative;
}
.remove:after {
  position: absolute;
  content: "";
  height: 2px;
  width: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ff5023;
}

.section {
  position: relative;
  padding: 80px 0;
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
  z-index: 1;
}
.container--medium {
  max-width: 1124px;
}
.container--short {
  max-width: 980px;
}

.anime-detail div {
  margin-bottom: 1.5rem;
}
.anime-detail div .label {
  font-weight: 600;
}
.anime-detail div .wrap-desc {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.anime-detail div .desc {
  font-size: 16px;
  padding: 8px 12px;
  border: 2px solid #960018;
  border-radius: 20px;
  margin-right: 0.5rem;
}

.topbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 90;
  background: #960018;
  padding: 12px 0;
}
.topbar .list--inline {
  min-height: 24px;
  align-items: center;
}
.topbar .list--inline > li:not(:last-child) {
  margin-right: 2rem;
}
.topbar .list--inline > li a {
  color: #FFDB58;
  font-family: "Anime Ace Italic", "sans-serif";
  transition: all 0.3s ease;
  font-size: 14px;
}
@media screen and (min-width: 700px) {
  .topbar .list--inline > li a {
    font-size: 16px;
  }
}
.topbar .list--inline > li a.active {
  font-family: "Anime Ace Bold", "sans-serif";
  font-size: 16px;
}
@media screen and (min-width: 700px) {
  .topbar .list--inline > li a.active {
    font-size: 20px;
  }
}/*# sourceMappingURL=app.css.map */